@use '../sass/base/variables.scss' as *;
@use '../sass/base/mixins.scss' as *;

.login-body {
  /* Estilos específicos para la sección de inicio de sesión */
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-grow: 1;
  background: url('https://bucket-grupo4-assets.s3.amazonaws.com/login-bg.png')
    50% fixed;
  background-size: cover;
  background-position: top center;
  display: flex;
  // padding-top: 122px;
  position: relative;
  .bg {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    filter: brightness(0.6);
    z-index: 0;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      mix-blend-mode: multiply;
      pointer-events: none;
      z-index: 5;
    }
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0;
    animation: pulse 2.5s infinite;
    background-color: var(--text-color);
  }

  @keyframes pulse {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 0;
    }
  }

  &.loaded::before {
    animation: none;
    content: none;
  }

  .bg {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }

  &.loaded .bg {
    opacity: 1;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    background: rgba(1, 16, 27, 0.404);
    padding-top: 0.1px;
  }

  .input-wrapper {
    position: relative;
    margin-bottom: 20px;
  }
}

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(359deg);
  }
}

.login {
  border-radius: 5px;
  padding: $section-padding-sm;
  margin-top: 150px;
  margin-bottom: 10px;
  width: 90%;
  max-width: 500px;
  background: #ffffff;
  position: relative;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  @include tablet() {
    margin-top: auto;
  }

  .toast {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 500px;
    z-index: 10;
    background-color: #ff000044;
    border-radius: 5px;
    padding: 12px;
    text-align: center;
    color: red;
  }

  .error {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
    text-align: right;
  }
}

.login.loading button {
  max-height: 100%;
  padding-top: 50px;
}

.login input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #ccc;
  transition: border-width 0.2s ease;
  color: #ccc;
}

.login input:focus {
  outline: none;
  color: #444;
  border-color: #41b6e6;
  border-left-width: 35px;
}

.login button {
  @include flex;
  height: 45px;
  width: 100%;
  background: #41b6e6;
  color: #fff;
  display: block;
  border: none;
  margin-top: 20px;
  position: relative;
  transition: all 0.2s ease;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
}

.login button span.state {
  display: none;
}

.login button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  border-left-color: transparent;
  animation: spinner 0.6s linear infinite;
  opacity: 0;
}

.login button:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.login button:active,
.login button:focus {
  background-color: #41b6e6;
}

.login.loading button {
  pointer-events: none;
}

.login.loading button i {
  opacity: 1;
  background-color: #fff;
}

.login.ok button {
  background-color: #41b6e6;
}

.login.ok button i {
  border-color: rgba(0, 0, 0, 0.2);
  animation: none;
  border-right-color: transparent;
  border-width: 4px;
  border-left-color: transparent;
}

.login p.title {
  margin: 20px 0 10px 0;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  color: #41b6e6;
}

.login p {
  margin: 0;
  font-size: 0.8em;
  color: #fff;
  text-align: center;
}

.login a {
  color: #41b6e6;
  text-decoration: none;
}

.login a:hover {
  text-decoration: underline;
}

.login span {
  margin-top: 40px;
  text-decoration: none;
  text-align: center;
}

.login-footer {
  margin-top: auto;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
  justify-self: end;
  z-index: 1;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.social-icons a {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-size: 20px;
}

.social-icons a:hover {
  color: #ccc;
}
