@use '../../sass/base/variables.scss' as *;
@use '../../sass/base/mixins.scss' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0f0f0f09;
  opacity: 0.8;
  z-index: 100;
  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    .slogan {
      margin-left: 10px;
      color: white;
      font-weight: bold;
      white-space: nowrap;
    }
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
      .logo-wrapper {
        display: flex;
        align-items: center;
        .logo {
          @include flex;
          img {
            height: 100px;
            width: auto;
            cursor: pointer;
          }
        }
      }
    }
  }

  .header-bottom {
    background-color: #0a0a0a15;
    display: none;
    opacity: 0.9;
    padding: 10px 20px;
  }
}

.header-btn-group {
  display: flex;
  align-items: center;
}

.btn {
  margin-left: 10px;
}

.search-btn {
  margin-left: auto;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.header .user {
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.header .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  background-color: white;
}
