@use '../../sass/base/variables.scss' as *;
@use '../../sass/base/mixins.scss' as *;

.top-section {
  background: $gunmetal;
  padding-block: $section-padding;
  color: $gainsboro;
  padding-top: 122px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include tablet() {
      grid-template-columns: 1fr 1fr;
    }
    @include desktop() {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &-back {
    display: flex;
    align-self: flex-start;
    padding-top: 80px;
    gap: 10px;
    font-size: 3rem;
    height: 100%;
    font-weight: 400;
    color: $gainsboro;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $spanish-gray;
    }

    svg {
      font-size: 1.5rem;
    }
  }

  &-title {
    font-size: 1.1rem;
    font-weight: 700;
    text-align: left;
    margin-top: 60px;

    span {
      color: $bright-navy-blue;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      @include desktop() {
        font-size: 2.5rem;
      }
    }

    p {
      font-size: 1.2rem;
      font-weight: 400;
      margin-top: 20px;
      color: $spanish-gray;
    }
  }

  @include desktop() {
  }
}
